# Matches OpenMC's C++ style (DP-1).
---
Language: Cpp
BasedOnStyle: Google
AccessModifierOffset: -2
AlignAfterOpenBracket: DontAlign
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  BeforeElse: false
ColumnLimit: 80
PackConstructorInitializers: Never
DerivePointerAlignment: false
IndentWidth: 2
PointerAlignment: Left
SpaceAfterTemplateKeyword: false
Standard: c++17
